.nav{
    width: 100%;
    border-bottom: 1px solid #ccc;
    font-size: 0.8rem;
}
.nav-container{
    width: 95%;
    margin: auto;
    padding: 1rem 0rem;
}
.nav-disp-btn{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .4rem .8rem;
    width: fit-content;
    /* border: 1px solid #ccc; */
    box-shadow: 2px 2px 4px 1px #ccc;
    border-radius: .4rem;
    cursor: pointer;
}

.nav-disp-icon{
    display: flex;
    align-items: center;
}
.nav-disp-filter{
    margin-right: .6rem;
}
.nav-disp-filter > img{
    height: 14px;
    fill: #ccc;
}
.nav-disp-heading{
    font-weight: 400;
}
.nav-disp-drop{
    margin-left: .3rem;
}
.nav-disp-drop > img{
    height: 16px;
}
.nav-disp-dropdown{
    display: none;
    width: fit-content;
    position: absolute;
    z-index: 2;
    margin-top: .6rem;
    padding: .8rem 1rem;
    background-color:#F8F8FA;
    border: 1px solid #ccc;
    border-radius: .5rem;
}
.nav-disp-dropdown-show{
    display: block;
}
.nav-disp-filters{
    width: 260px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-disp-filters:first-child{
    margin-bottom: .5rem;
}
.nav-dropdown-category{
    color: #808184;
    font-weight: 200;
}
.nav-selector{
    padding: .3rem;
    width: 100px;
    border-radius: .3rem;
    border-color: #ccc;
    font-weight: 200;
    cursor: pointer;
}
